 <div class="nav-container" style="float:right;">
    <button class="nav-icon"><span class="fas fa-bars fa-3x"></span></button>
    <span class="nav-list">
        <span class="nav-item"><a href="/">Homepage</a></span>
        <span class="nav-item"><a href="/content">Content</a></span>
        <span class="nav-item"><a href="/reviews">Reviews</a></span>
    </span>
</div>