 <div class="nav-container" style="float:right;">
    <button class="nav-icon"><span class="fas fa-bars fa-3x"></span></button>
    <span class="nav-list">
        <span class="nav-item"><a href="main-page.html">Homepage</a></span>
        <span class="nav-item"><a href="public/content-page.html">Content</a></span>
        <span class="nav-item"><a href="public/photography-page.html">Photography</a></span>
        <span class="nav-item"><a href="public/review-page.html">Reviews</a></span>
    </span>
</div>