<!--
    Written by: Rose Garcia
    Pet photo partial for photo page
-->
<div class="photo-container">
    <img class="photo-content" src="{{photoURL}}">
    <div class="photo-info">{{caption}}</div>
</div>