<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/photography-page.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
    <script src="/page-title.js" charset="utf-8" defer></script>
    <title>404</title>
</head>
<body>
<page-title-component title="404: Page Not Found: {{title}}"></page-title-component>
</body>
</html>