<!DOCTYPE html>
<html>
    <head>
        <meta charset= "utf-8">
        <link rel="stylesheet" href="nav-bar.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=BenchNine" rel="stylesheet">
        <link rel="stylesheet" href="content-page.css">
        <script src="page-title.js" charset="utf-8" defer></script>
        <title>Content Page</title>
    </head>

    <body>
        {{> navBar}}
        <main>
            <section id="content-container">

                <div class="content-container">
                    <div class="contents">
                        <div class="image-container">
                            <img src="https://qph.fs.quoracdn.net/main-qimg-81cd5a2ca4478dd89011b3428231e0fa.webp" class="image" alt="Fish">
                        </div>
                        <div class="image-description">
                            <a href="/content/Fish" class="image-title">Fish</a>
                            <p>
                                Mr. Bankston loves photographing these little swimmers! 
                            </p>
                        </div>
                    </div>
                </div>

                <div class="content-container">
                        <div class="contents">
                            <div class="image-container">
                                <img src="http://images6.fanpop.com/image/photos/33500000/funny-guitar-msyugioh123-33510960-500-325.jpg" class="image" alt="Iguana">
                            </div>
                            <div class="image-description">
                                <a href="/content/Iguanas" class="image-title">Iguanas</a>
                                <p>
                                    Ever seen a photography page dedicated strictly to iguanas? Me either!  
                                </p>
                            </div>
                        </div>
                </div>

               <div class="content-container">
                    <div class="contents">
                        <div class="image-container">
                            <img src="http://www.killboretime.com/wp-content/uploads/2016/05/emu_face001-844x633.jpg" class="image" alt="Emu">
                        </div>
                        <div class="image-description">
                            <a href="/content/Emus" class="image-title">Emus</a>
                            <p>
                                Meet the emus: birds that literally eats rocks.   
                            </p>
                        </div>
                    </div>           
                </div>
                
                <div class="content-container">
                        <div class="contents-b">
                            <div class="image-container">
                                <img src="https://thelookortho.com.au/wp-content/uploads/2016/04/online-reviews.jpg" class="image">
                            </div>
                            <div class="image-description">
                                <a href="/reviews" class="image-title">Reviews</a>
                                <p>
                                    Thinking of hiring Jericho to photograph your pets? Check out what his previous clients have to say
                                    about their experience!   
                                </p>
                            </div>
                        </div>
                </div>

                <div class="content-container">
                        <div class="contents-b">
                            <div class="image-container">
                                <img src="/about_me.png" class="image">
                            </div>
                            <div class="image-description">
                                <a href="#" class="image-title">About Me:</a>
                                <p>
                                    I've been photographing unusual pets for 12 years. Fish, Iguanas, and Emus are hugely underrepresented pets
                                    in the pet-photography business, so one day I just said, "Jericho, you give these cute little minorites a chance!" 
                                    
                                </p>
                            </div>
                        </div>
                </div>
            </section>

        </main>

    </body>
    <page-title-component title="Content"></page-title-component>
</html>

