/*
 * Name: Anna Mollere
 * Date: 11/26/2018
*/

/* This section styles the review container and boxes.*/

main{
    margin: 0px;
    overflow: visible;
}

.content-wrapper{
    height: 100%;
}

#side-bar{
    float:left;
}

#review-container {
    position: relative;    
    right: 60px;
    align-items: center;
}

.review {
    height: 175px;
    width: 800px;
    border: solid rgba(218, 218, 218, 0.342);
    border-radius: 2%;
    margin: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.445);
}

.review-header {
    background: rgba(218, 218, 218, 0.253);
    height: 95px;
}

.user-icon {
    height: 60px;
    width: 60px;

    position: relative;
    left: 5px;
    top: 15px;
    margin: 5px;
    
    border-radius: 50%;
}

.user {
    position: relative;
    top: 20px;
    right: 51px;
    color: rgb(221, 99, 51);
    font-family: BenchNine;
}

.text {
    position: relative;
    top: -20px;
    color: rgb(165, 165, 165);
    font-family: BenchNine;
}

.paws {
    position: relative;
    left: 675px;
    bottom: 50px;

    width: 100px;
    
}

.checked {
    color: rgb(221, 99, 51);
}

.date {
    position: relative;
    left: 705px;
    bottom: 45px;
    color: rgb(165, 165, 165);
    font-family: BenchNine;
}

/* This section styles the side bar. */ 

#side-bar {
    height: 1100px;
    width: 300px; 

    font-family: BenchNine;
}

h2 {
    margin: 10px;
    padding: 5px;

    font-variant: small-caps;
    font-size: 20pt;
}

.special-header {
    color: rgb(221, 99, 51);
    text-decoration: underline;
}

#submit-review {
    position: relative;
    bottom: 0px;
}
.button {
    height: 30px;
    width: 150px;
    position: relative;
    left: 145px;
}
/* This section styles the sort-by container.*/

#sort-by-container {
    position: relative;
    left: 20px;
    width: 300px;
    height: 415px;

    background-color: rgba(165, 165, 165, 0.315);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.445);
    
    font-family: BenchNine;
}

.sort-by {
    margin: 10px;
    font-size: 14pt;
}

#rating {
    border-color: white;
    font-size: 14pt;
}

.filter-field {
    height: 30px;
    width: 195px;
}

#year-field {
    margin-left: 41px;
}

#reviewer-field {
    margin-left: 16px;
}

#text-field {
    margin-left: 20px;
}


.sb-drop-down {
    height: 30px;
    width: 237px;
}
/* This section styles the leave-a-review container.*/

#submit-review-container {
    position: relative;
    left: 20px;
    width: 300px;
    height: 500px;
    margin-top: 5px;

    background-color: rgba(165, 165, 165, 0.315);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.445);
}

.review-input {
    margin: 10px;
    font-size: 14pt;
}
.field-input {
    height: 30px;
    width: 195px;
}

#name-field {
    margin-left: 20px;
}

#icon-field {
    margin-left: 3px;
}
#review-field {
    position: relative;
    height: 75px;
    width: 275px;
    word-wrap: break-word;
}